# Virtualenvs
venv/
venv_test/

# Python
__pycache__/
*.pyc
*.pyo

# Local DB / instance
instance/
instance/airwatch.db

# Editor / IDE
.vscode/
.idea/

# Logs
*.log

# ML model binaries (do not commit)
ml_models/*.pkl
random_forest_model.pkl

# local env
.env
cookies.txt
